*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{

    background-color: #282c34;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
   
   
   
    
}
h1{
    
    font-size: 100px;
    color:white;
    font-family: 'Nunito', sans-serif;
}
button {
    width: 150px;
    height: 150px;
    margin: auto 10px ;
    background:0;
    border-bottom: white 3px outset;

}

#rainBut {

    background-image: url(https://image.flaticon.com/icons/png/512/3520/3520902.png);
    background-size: cover;


}

#seaBut {

    background-image: url(https://image.flaticon.com/icons/png/512/3010/3010910.png);
    background-size: cover;


}

#birdBut {

    background-image: url(https://image.flaticon.com/icons/png/512/3798/3798415.png);
    background-size: cover;


}

#fireBut {

    background-image: url(https://image.flaticon.com/icons/png/512/1395/1395941.png);
    background-size: cover;


}
